@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #262626;
    --cor2: #15726c;
    --cor3: #219781;
    --cor4: #0D4040;
    --cor5: #362F40;
}

@media screen and (min-width: 768px) {
    main {
        margin: 10px 20px 10px 110px;

    }

    footer {
        padding-left: 100px;
    }

    #burguer {
        display: none;
    }

    #menu {
        display: flex !important;
        flex-flow: row wrap;
        justify-content: space-between;
        
    }

}